//import variables
@import './base/_variables';
@import './base/_fonts';




// @font-face {
// 	font-family: 'Cormorant Garamond';
// 	src: url('../fonts/cormorant/CormorantGaramond-BoldItalic.eot');
//     src: local('☺'), url('../fonts/cormorant/CormorantGaramond-BoldItalic.woff') format('woff'), 
//     url('../fonts/cormorant/CormorantGaramond-BoldItalic.ttf') format('truetype'), 
//     url('../fonts/cormorant/CormorantGaramond-BoldItalic.svg') format('svg');
// 	font-weight: 700;
//     font-style: italic;
//     font-display: swap;
// }



// @font-face {
// 	font-family: 'Inter';
// 	src: url('../fonts/inter/Inter-Regular-slnt=0.eot');
//     src: local('☺'), url('../fonts/inter/Inter-Regular.woff') format('woff'), 
//     url('../fonts/inter/Inter-Regular.ttf') format('truetype'), 
//     url('../fonts/inter/Inter-Regular.svg') format('svg');
// 	font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }



// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-Medium.eot');
//     src: url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-Medium.woff2') format('woff2'),
//     url('../fonts/Inter-Medium.woff') format('woff'),
//     url('../fonts/Inter-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-SemiBold.eot');
//     src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-SemiBold.woff2') format('woff2'),
//     url('../fonts/Inter-SemiBold.woff') format('woff'),
//     url('../fonts/Inter-SemiBold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-Bold.eot');
//     src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-Bold.woff2') format('woff2'),
//     url('../fonts/Inter-Bold.woff') format('woff'),
//     url('../fonts/Inter-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-Italic.eot');
    src: url('../fonts/EBGaramond-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EBGaramond-Italic.woff2') format('woff2'),
    url('../fonts/EBGaramond-Italic.woff') format('woff'),
    url('../fonts/EBGaramond-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-MediumItalic.eot');
    src: url('../fonts/EBGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EBGaramond-MediumItalic.woff2') format('woff2'),
    url('../fonts/EBGaramond-MediumItalic.woff') format('woff'),
    url('../fonts/EBGaramond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-Medium.eot');
    src: url('../fonts/EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EBGaramond-Medium.woff2') format('woff2'),
    url('../fonts/EBGaramond-Medium.woff') format('woff'),
    url('../fonts/EBGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}






html {
    overflow-x: hidden;
    // scroll-behavior: smooth;
}

body {
    width: 100% !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .05em;
    // font-family: 'Inter', sans-serif;
    font-family: 'Inter', serif;
    font-weight: 500;
    // font-size: 14px;
    color: $black;
}

input, input:hover, input:active, input:focus {
    outline: none;
}

img {
    align-self: start;
}

p {
    margin: 0;
    padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


div, p, a, span, input, form, button {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}





// a {
//     display: block;
// }


// .button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     min-width: 155px;
//     height: 60px;
//     border-radius: 8px;
//     border: none;
//     background: black;
//     color: white;
//     text-transform: uppercase;

//     font-size: 18px;
//     letter-spacing: .070em;
//     padding: 5px;
// }

button {
    border: none;
    
    &:focus {
        outline: none
    }
    
}



ul, li {
	display: block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* Edge */
    color: $light-grey-characters;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light-grey-characters;
}
  
::placeholder {
    color: $light-grey-characters;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.section-title {
    font-size: 25px;
    margin: 25px 0;
}

#unblurred {
    filter: blur(0px);
}

#gatsby-focus-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#___gatsby {
    // height: 100%;
    width: 100% !important;
}

.warning-message-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .warning-message-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .warning-message-exit {
    opacity: 1;
  }
  .warning-message-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }





.side-buttons-transition-enter {
    opacity: 0;
    // transform: scale(0.9);
    transform: translateY(30%);
    transition: opacity 300ms, transform 300ms;
}
.side-buttons-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    // transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.side-buttons-transition-exit {
    opacity: 1;
    // transition: opacity 300ms, transform 300ms;


}
.side-buttons-transition-exit-active {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 300ms, transform 300ms;


}


.a-link {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    
    cursor: pointer;
    
    background-color: #fff;
    background-image: url('https://abs.twimg.com/emoji/v1/72x72/1f4cb.png'); /* Twitter clipboard emoji */
    background-size: 60% auto;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,.29);
    border-bottom-color: rgba(0,0,0,.36);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.12);
    &:before {
        content: '';
        display: none;
        position: absolute;
        z-index: 9998;
        top: 35px;
        left: 15px;
        width: 0;
        height: 0;
        
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid rgba(0,0,0,.72);
    }

    &:after {
        content: 'Скопировать';
        display: none;
        position: absolute;
        z-index: 9999;
        top: 40px;
        left: -37px;
        width: 114px;
        height: 36px;

        color: #fff;
        font-size: 10px;
        line-height: 36px;
        text-align: center;

        background: rgba(0,0,0,.72);
        border-radius: 3px;
    }
    
    &:hover {
        
        &:before, &:after {
            display: block;
        }
    }
    
    &:active, &:focus {
        outline: none;
        
        &:after {
            content: 'Скопировано :)';
        }
    }
}



@keyframes ldio-6b142d04hhl {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-6b142d04hhl div {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 1vw solid var(--granich-grey);
    border-top-color: transparent;
    border-radius: 50%;
    animation: ldio-6b142d04hhl 0.6s linear infinite;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);

  }

  .loadingio-spinner-rolling-ta5f1nqy5p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background: none;
    z-index: 0;


  }
  .ldio-6b142d04hhl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-6b142d04hhl div { box-sizing: content-box; }
  

.swiper-container {
    width: 60%;
}



.course-form-checkbox {
    display: none;
}

.course-form-label {
    display: flex;
    padding-left: 1vw;
    align-items: center;
    cursor: pointer;

}

.course-form-label:before {
    content: '';
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -1vw;
    margin-right: 0.5vw;
    // background: black;
    box-shadow: inset 0 0 0.4vw rgba(0,0,0,0.4);
    background: white;
    border-radius: 100vw;
    box-sizing: border-box;
}

.course-form-label_error:before {
    border: 1px solid var(--granich-red);
    box-shadow: inset 0 0 0.5vw rgba(228, 5, 33, 0.4);
}

.course-form-checkbox:checked + label::before {
    color: var(--granich-red);
    content: '✓';
    text-align: center;
    line-height: 0.5;
    background: white;
    font-family: 'EB Garamond';
    // padding-left: 0.1vw;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2.1vw;
    width: 1.5vw;
    height: 1.5vw;
}

.section-top-block {
    height: 10vw;
    
}

.tippy-popper {
    margin-bottom: 0.5vw;
    border-radius: 0.3vw;
}

.tippy-tooltip-content {
    color: white;
    padding: 0.3vw;
    font-size: 0.9vw;
}

// .

//import blocks
// @import './blocks/_header';
// @import './blocks/_footer';
// @import './blocks/_offer';
// @import './blocks/_courses';
// @import './blocks/_about-us';
// @import './blocks/_lead-magnit';
// @import './blocks/_politika';
// @import './blocks/_soglash';
// @import './blocks/_scroll-up';
// @import './blocks/_custom-button';
// @import './blocks/_filter';
// @import './blocks/_header';
// @import './blocks/_homepage';
// @import './blocks/_logo';
// @import './blocks/_product-item';
// @import './blocks/_products-list';
// @import './blocks/_search-field';
// @import './blocks/_slider';
// @import './blocks/_white-overlay';
// @import './blocks/_search-dropdown';
// @import './blocks/_signin-dropdown';
// @import './blocks/_google-button';
// @import './blocks/_form';
// @import './blocks/_checkbox';
// @import './blocks/_cart-popup';
// @import './blocks/_overlay';
// @import './blocks/_sign-up-page';
// @import './blocks/_breadcrumbs';
// @import './blocks/_section-collection';
// @import './blocks/_catalog-collection';
// @import './blocks/_section-page';
// @import './blocks/_catalog-page';
// @import './blocks/_footer';
//import media
@import './base/_media';
