@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
        url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), url('../fonts/bebas/BebasNeueRegular.woff') format('woff'),
        url('../fonts/bebas/BebasNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-Medium.eot');
//     src: url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-Medium.woff2') format('woff2'),
//     url('../fonts/Inter-Medium.woff') format('woff'),
//     url('../fonts/Inter-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-SemiBold.eot');
//     src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-SemiBold.woff2') format('woff2'),
//     url('../fonts/Inter-SemiBold.woff') format('woff'),
//     url('../fonts/Inter-SemiBold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-Bold.eot');
//     src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Inter-Bold.woff2') format('woff2'),
//     url('../fonts/Inter-Bold.woff') format('woff'),
//     url('../fonts/Inter-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'EB Garamond';
//     src: url('../fonts/EBGaramond-Italic.eot');
//     src: url('../fonts/EBGaramond-Italic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/EBGaramond-Italic.woff2') format('woff2'),
//     url('../fonts/EBGaramond-Italic.woff') format('woff'),
//     url('../fonts/EBGaramond-Italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'EB Garamond';
//     src: url('../fonts/EBGaramond-MediumItalic.eot');
//     src: url('../fonts/EBGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/EBGaramond-MediumItalic.woff2') format('woff2'),
//     url('../fonts/EBGaramond-MediumItalic.woff') format('woff'),
//     url('../fonts/EBGaramond-MediumItalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'EB Garamond';
//     src: url('../fonts/EBGaramond-Medium.eot');
//     src: url('../fonts/EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/EBGaramond-Medium.woff2') format('woff2'),
//     url('../fonts/EBGaramond-Medium.woff') format('woff'),
//     url('../fonts/EBGaramond-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }






body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .05em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--granich-black);
}

input,
input:hover,
input:active,
input:focus {
    outline: none;
}

img {
    align-self: start;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div,
p,
a,
span,
input,
form,
button {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
}



button {
    border: none;

    &:focus {
        outline: none
    }

}



ul,
li {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--granich-light-grey);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--granich-light-grey);
}

::placeholder {
    color: var(--granich-light-grey);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


// #root {
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;

// }
.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}



#unblurred {
    filter: blur(0px);
}

#gatsby-focus-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    // overflow: hidden;
}

#___gatsby {
    // height: 100vh;
    // min-height: 100%;
    width: 100% !important;
    // overflow-y: hidden;
    // overflow: hidden;
    // overflow-y: hidden;
}

// main {
//     height: 100%;
// }

.warning-message-enter {
    opacity: 0;
    transform: scale(0.9);
}

.warning-message-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.warning-message-exit {
    opacity: 1;
}

.warning-message-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}





.side-buttons-transition-enter {
    opacity: 0;
    // transform: scale(0.9);
    transform: translateY(30%);
    transition: opacity 300ms, transform 300ms;
}

.side-buttons-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    // transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.side-buttons-transition-exit {
    opacity: 1;
    // transition: opacity 300ms, transform 300ms;


}

.side-buttons-transition-exit-active {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 300ms, transform 300ms;


}





@keyframes ldio-6b142d04hhl {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-6b142d04hhl div {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 1vw solid var(--granich-grey);
    border-top-color: transparent;
    border-radius: 50%;
    animation: ldio-6b142d04hhl 0.6s linear infinite;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);

}

.loadingio-spinner-rolling-ta5f1nqy5p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background: none;
    z-index: 0;


}

.ldio-6b142d04hhl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-6b142d04hhl div {
    box-sizing: content-box;
}


// .swiper-container {
//     width: 60%;
// }



.course-form-checkbox {
    display: none;
}

.course-form-checkbox_black {
    display: none;
}

.course-form-label {
    display: flex;
    padding-left: 1vw;
    align-items: center;
    cursor: pointer;

}

.course-form-label:before {
    content: '';
    display: block;
    width: 1.3vw;
    height: 1.3vw;
    margin-left: -1vw;
    margin-right: 0.5vw;
    // background: black;
    // box-shadow: inset 0 0 0.4vw rgba(0,0,0,0.4);
    background: white;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.4);
}

.course-form-label_error:before {
    border: 1px solid var(--granich-red);
    box-shadow: inset 0 0 0.5vw rgba(228, 5, 33, 0.4);
}

.course-form-checkbox:checked+label::before {
    color: var(--granich-red);
    content: '';
    background: white;
    background-image: url(../assets/images/check-icon.png);
    background-size: cover;
    width: 1.3vw;
    height: 1.3vw;
    box-shadow: none;
}

.course-form-checkbox_black:checked+label::before {
    color: var(--granich-red);
    content: '';
    background: white;
    background-image: url(../assets/images/check-icon_black.png);
    background-size: cover;
    width: 1.3vw;
    height: 1.3vw;
    // border: 3px solid var(--granich-black);
}

.section-top-block {
    height: 8vw;

}

.tippy-popper {
    margin-bottom: 0.5vw;
    border-radius: 0.3vw;
}

.tippy-tooltip-content {
    color: white;
    padding: 0.3vw;
    font-size: 0.9vw;
}

div[data-accordion-component="AccordionItemHeading"] {
    :focus {
        outline: none;

    }

    :active {
        outline: none;

    }

    padding: 0 1.5vw;
}

.accordion-curriculum-button {
    padding: 1vw 1vw;
    user-select: none;
    position: relative;
    display: flex;
    padding: 3vw 0;
    border-top: 1.5px solid #dedede;

    :hover {
        cursor: pointer;
    }



}

.accordion__panel {
    padding: 5vw 2.5vw !important;

    p {
        font-size: 3.7vw;
        line-height: 1.45;
    }
}

.accordion__panel_answers {
    padding: 4vw 2.5vw 0 !important;
}

.accordion-curriculum-button::before {
    content: '';
    position: absolute;
    top: 3vw;
    right: 1.5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 6vw;
    color: white;
    cursor: pointer;
    width: 6vw;
    height: 6vw;
    display: flex;
    background: url(../assets/images/plus.png);
    background-size: cover;
    justify-content: center;
    line-height: 1;
}

.accordion-curriculum-button.blue-theme::before {
    content: '';
    position: absolute;
    top: 3vw;
    right: 1.5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 6vw;
    color: white;
    cursor: pointer;
    width: 6vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
    background: url(../assets/images/plus_blue.png);
    background-size: cover;
    justify-content: center;
    line-height: 1;
}


.accordion-curriculum-button[aria-expanded='true']::before {
    content: '';
    background: url(../assets/images/minus.png);
    background-size: cover;
}

.accordion-curriculum-button.blue-theme[aria-expanded='true']::before {
    content: '';
    background: url(../assets/images/minus_blue.png);
    background-size: cover;
}


.accordion-answers-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 1.5%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 6vw;
    color: white;
    cursor: pointer;
    width: 6vw;
    height: 6vw;
    display: flex;
    background: url(../assets/images/plus.png);
    background-size: cover;
    justify-content: center;
    line-height: 1;
}

.accordion-answers-button[aria-expanded='true']::before {
    content: '';
    background: url(../assets/images/minus.png);
    background-size: cover;
}


.price-category-list {
    li:after {
        background: url(../assets/images/graph-design/price-range/price-range-plus.png);
        background-size: cover;
        content: '';
        position: absolute;
        top: 33%;
        right: 3.5%;
        width: 1.1vw;
        height: 1.1vw;
        border-radius: 100vw;
        color: var(--granich-light-grey);
        text-align: center;
        font-size: 1.1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        display: none;
    }
}


#participation-section {
    padding-bottom: 4vw;
    width: 100%;
    display: block;
}

#prices-range-section {
    padding-bottom: 4vw;
    width: 100%;
    display: block;
}



.customOverlay {
    background: rgba(256, 256, 256, 0.9) !important;
}

.customModal {
    width: auto !important;
    max-width: auto !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.customVideoModal {
    width: 80vw !important;
    max-width: 80vw !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.mailingOverlay {
    background: rgba(256, 256, 256, 0.9) !important;
    padding: 0 !important;
    // width: calc(100% - 15px) !important;
    padding-right: 15px !important;
}

.mailingModal {
    width: 100vw !important;
    max-width: 100vw !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
}


.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -1.3vw;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 1.3vw;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 1.3vw;
}


.collection_link {

    a {
        position: relative;
    }

    a:after {
        content: '';
        background: url(../assets/images/arrow_out.png);
        width: 0.6vw;
        height: 0.6vw;
        background-size: cover;
        border-radius: 100vw;
        position: absolute;
        margin-left: 0.2vw;
        margin-top: 0.25vw;
    }
}

.link_out {
    a {
        position: relative;
    }

    a:after {
        content: '';
        background: url(../assets/images/arrow_out.png);
        width: 0.8vw;
        height: 0.8vw;
        background-size: cover;
        border-radius: 100vw;
        position: absolute;
        margin-left: 0.2vw;
        margin-top: 0.25vw;
    }

}





.our-team_link {

    a {
        position: relative;
    }

    a:after {
        content: '';
        background: url(../assets/images/arrow_out_black.png);
        width: 0.8vw;
        height: 0.8vw;
        background-size: cover;
        border-radius: 100vw;
        position: absolute;
        margin-left: 0.3vw;
        margin-top: 0.4vw;
    }
}

.our-team_link_master-class {
    a:after {
        margin-left: 0.3vw;
        margin-top: 0.25vw;
    }
}

.BrainhubCarousel__arrows {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 100px;


}


.BrainhubCarousel__arrowLeft {
    // position: absolute !important;
    // z-index: 2;
    left: 0;
    // transform: translateX(120%);
    // display: none;
    // left: 0px;

}

.BrainhubCarousel__arrowRight {
    // position: absolute !important;
    // display: none;
    // z-index: 2;
    right: 0;
    // transform: translateX(-120%);


}

.BrainhubCarouselItem {
    width: 330px !important;
    max-width: 330px !important;
    min-width: 330px !important;
}

// .BrainhubCarousel__trackContainer {
//     // width: 100% !important;
//     // min-width: 90vw !important;
//     // max-width: 90vw !important;
//     // li {
//     //     width: 90vw !important;
//     //     min-width: 90vw !important;
//     //     max-width: 90vw !important;
//     // }
// }

.spring-div-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spring-div-inside {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);

}

.tippy-popper {
    margin-bottom: 1.5vw;
    top: 1.5vw !important;
}
.tippy-tooltip {
    background: linear-gradient(90deg, rgba(230,25,51,1) 0%, rgba(213,12,34,1) 30%, rgba(189,3,27,1) 70%) !important;
    padding: 0.8vw 1.2vw !important;
    box-shadow: 0.25vw 0.25vw 0.4vw rgb(0 0 0 / 25%);
}

.arrow-regular {
    border-top-color: rgba(189,3,27,1) !important;
}

.tippy-tooltip-content {
    padding: 0 !important;
}
@import './base/_media';