

@media only screen and (max-width: 575px) {
    .development {
        display: none;
    }
    .section-top-block {
        height: 37vw;
        
    }
    .course-form-label {
        display: flex;
        padding-left: 1vw;
        align-items: center;
        cursor: pointer;
    
    }
    
    .course-form-label:before {
        width: 3.5vw;
        height: 3.5vw;
        margin-left: -1vw;
        margin-right: 2vw;
        margin-top: -0.4vw;
        // box-shadow: inset 0 0 1.2vw rgba(0,0,0,0.3);
        
    }
    
    .course-form-label_error:before {
        border: 1px solid var(--granich-red);
        box-shadow: inset 0 0 1.2vw rgba(228, 5, 33, 0.4);
    }
    
    .course-form-checkbox:checked + label::before {
        font-size: 5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    .course-form-checkbox_black:checked + label::before {
        font-size: 5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    #participation-section {
        padding-bottom: 5vw;
    }
    .price-category-list {
        li:after {

                display: block;
            }
    }
}

